#sudoku-board {
  display: grid;
  justify-content: center;
  margin: 20px auto;
}

input {
  text-align: center;
  font-size: 1em;
  border: 1px solid #ccc;
}

input:focus {
  outline: 2px solid #3f51b5;
}

input.prefilled {
  background-color: #e0e0e0;
  font-weight: bold;
}
